* {
    margin: 0;
    padding: 0;
}

#intro {
    background-image: linear-gradient(rgba(28, 146, 210, 0),rgba(91, 135, 229, 0)), url('../img/r_keyboard_pen_notebook.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.role p {
    font-family: 'Courier New', Courier, monospace;
    color: #DE3163;
}

.skillbtn, .projectbtn {
    text-decoration: none;
     transition: background-color, 0.5s;
    /*background-color: transparent;
    padding: 10px 35px;
    border-radius: 8px;
    
    cursor: pointer;
   
    margin-left: 30px; */
    
}

.skillbtn:hover, .projectbtn:hover {
    border: 1px solid #DE3163;
    background-color: #DE3163;
    color: whitesmoke;
}

.more-btn {
    margin-top: 150px;
}

.aboutHeading {
    color: #DE3163;
}

.my-pic {
    background-image: url("../img/r_mouse_watch_prism.jpg");
    min-height: 100vh;
    width: 100vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.aboutRow {
    background-color: #080808;
    
}

#highlightedSkills {
    color: #DE3163;
}





/* E97451 orangish */
/* F6ADC6 naedeshiko first choice */
/* DE3163 pink - second choice - same as third choice $$$$$ */
/* E3256B - third choice (I like this - it's conventional */
/* C54B8C - contender - not shouting *** */
/* FA86C4 - taffy is also nice ***** */
/* E63E62 - paradise pink - also nice */
/* FE4164 - fuschia also nice  */